<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}

    <div class="form-group">
        <div data-table-id="{{fishRolltableUUID}}">
            <label>Fish Table</label>
            <input type="text" name="fishRolltableUUID" value="{{fishRolltableUUID}}"></input>
        </div>
    </div>
    <div class="form-group">
        <div data-table-id="{{junkRolltableUUID}}">
            <label>Junk Table</label>
            <input type="text" name="junkRolltableUUID" value="{{junkRolltableUUID}}"></input>
        </div>
    </div>
    <div class="form-group">
        <div data-table-id="{{treasureRolltableUUID}}">
            <label>Treasure Table</label>
            <input type="text" name="treasureRolltableUUID" value="{{treasureRolltableUUID}}"></input>
        </div>
    </div>

    {{editor document.text.content target="text.content" button=false editable=true
    engine="prosemirror" collaborate="false"}}


    {{> journalEntryPageFooter}}
</form>
