<div class="fishing" data-reelpower="10" data-baitweight="1" data-progress="2" data-progresspenalty="3" data-progressupdaterate="200">
    <div class="rod">
        <div class="reel">
            <div class="handle"></div>
        </div>
    </div>
    <div class="sea">
        <div class="area">
            <div class="bait" id="bait"></div>
            <div class="fish" data-movepremsec="1500" data-jumprange="100" data-speed="1000" data-depth="20" ><i class="fas fa-fish"></i></div>
        </div>
    </div>
    <div class="progress">
        <div class="area">
            <div class="bar" style="height:0%"></div>
        </div>
    </div>
</div>
